In [1]:
import pandas as pd 
import numpy as np

import os

In [2]:
os.listdir('../outputs/mistral-7B/zero_shot_v1/results.csv')

NotADirectoryError: [Errno 20] Not a directory: '../outputs/mistral-7B/zero_shot_v1/results.csv'

In [3]:
results = pd.read_csv('../outputs/mistral-7B/zero_shot_v1/results.csv')

In [ ]:
results.iloc

,example_id,question,expected_answer,generated_text,model_prediction,is_correct,model_name,prompt_version,timestamp
0,0,James gets a job selling used cars. He sold 1...,17500.0,1000,1000.0,0,mistralai/Mistral-7B-Instruct-v0.1,zero_shot_v1,2025-08-02T18:12:30.134226
1,1,Matteo traveled at 55 miles per hour for 4 hou...,230.0,150,150.0,0,mistralai/Mistral-7B-Instruct-v0.1,zero_shot_v1,2025-08-02T18:12:30.134226
2,2,Sam sells bread. He has a target of selling 12...,55.0,10,10.0,0,mistralai/Mistral-7B-Instruct-v0.1,zero_shot_v1,2025-08-02T18:12:30.134226
3,3,A herd consists of camels and dromedaries. The...,56.0,48,48.0,0,mistralai/Mistral-7B-Instruct-v0.1,zero_shot_v1,2025-08-02T18:12:30.134226
4,4,Ellen decided to play a prank on her friend. S...,25.0,11%,11.0,0,mistralai/Mistral-7B-Instruct-v0.1,zero_shot_v1,2025-08-02T18:12:30.134226

In [28]:
results.iloc[97].generated_text

'The answer is X.'

In [27]:
results.iloc[97].model_prediction

np.float64(nan)